.header {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: 99%;
  box-shadow: 0px 15px 10px -15px #111;
}
.header-second {
  display: flex;
  margin-right: 50px;
  align-items: center;
}
.header-logo {
  padding-left: 60px;
  font-size: 30px;
}

.header-gameselect {
  margin-right: 70px;
}
.header-select-button {
  background-color: white;
  border: 2px solid green;
  width: 160px;
  height: 40px;
  border-radius: 20px;
}
.header-select-button:hover {
  background-color: rgba(212, 212, 212, 0.753);
}
.header-gameselect > :first-child {
  margin-right: 30px;
}

.header-aboutus-button {
  border-radius: 9px;
  background-color: green;
  border: none;
  color: white;
  padding: 10px;
}
.header-aboutus-button:hover {
  background-color: rgba(0, 128, 0, 0.836);
}

.multiboard {
  display: flex;
  width: 380px;
  height: 380px;
  flex-direction: column;
  margin: 50 auto 0;
  padding-top: 11px;
  padding-right: 30px;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.multisquare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  border: 1px solid #eee;
  background-color: #34495e;
  box-sizing: border-box;
  font-size: 80px;
  cursor: pointer;
  color: white;
}

.status {
  margin-top: 15px;
  margin-bottom: 10px;
}

.restart {
  display: flex;
  border-radius: 3px;
  font-size: 18px;
  width: 118px;
  padding: 6px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.board {
  clear: both;
  float: none;
  overflow: hidden;
}

.board .col {
  float: left;
  width: 125px;
  height: 125px;
  border: 1px solid #eee;
  border-left: none;
  cursor: pointer;
  color: #fff;
  font-size: 90px;
  background: #34495e;
}
.board .col:nth-child(3n + 1) {
  border-left: 1px solid #aaa;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  padding: 5px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 3px;
  font-size: 18px;
}

.board-wrapper {
  margin-top: 50px;
}

h2 {
  position: absolute;
  display: flex;
  margin-left: 127px;
  margin-top: 15px;
  font-size: 30px;
}

.col.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 50px auto 0;
}

.aboutus-content > h1 {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-size: 20px;
}

h4 {
  position: absolute;
  margin: 200px 0px 0px 90px;
  font-size: 20px;
  color: green;
}
main > h4 {
  margin-top: 250px;
}
